{
  "openapi": "3.0.1",
  "info": {
    "title": "造梦珈",
    "contact": {
      "name": "orangeboy"
    },
    "version": "1.0.0"
  },
  "servers": [{
    "url": "https://api.zmj.nowcent.cn",
    "description": "地址"
  }],
  "tags": [{
    "name": "登录"
  }],
  "paths": {
    "/auth/weixin": {
      "post": {
        "tags": ["登录"],
        "summary": "微信登录",
        "operationId": "weixin",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/WeixinLoginForm"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultVOObject"
                }
              }
            }
          }
        }
      }
    },
    "/auth/web": {
      "post": {
        "tags": ["登录"],
        "summary": "管理员登录",
        "operationId": "web",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminLoginForm"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultVOObject"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ResultVOObject": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object"
          }
        }
      },
      "WeixinLoginForm": {
        "type": "object",
        "required": [
          "code"
        ],
        "properties": {
          "code": {
            "type": "string"
          }
        }
      },
      "AdminLoginForm": {
        "type": "object",
        "required": [
          "username",
          "password"
        ],
        "properties": {
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      }
    }
  }
}